body {
    background-color: lightblue;
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: black;
}

header {
    background-color: lightskyblue;
}


/* select sub section of section in footer */

footer section {
    background-color: rgb(214, 236, 15);
}

figure {
    padding: 10px;
    margin: 10px;
    /* background-color: whitesmoke; */
    border: 1px darkorchid solid;
}

section {
    background-color: lightgreen;
    padding: 10px;
}

div section {
    border: 5px lightsalmon solid;
    margin: 5px;
}

img {
    padding: 2px;
    margin: 0px;
    vertical-align: middle;
}

#shellback>img {
    padding: 10px 20px 10px 15px;
    vertical-align: middle;
}


/* Select the Eduction, Employment and Hobbies ID */

#Education,
#Employment,
#Hobbies {
    border: 5px darkmagenta dashed;
    margin: 10px;
    padding: 10px;
}


/* Select the awards class */

.awards {
    /* background-color: green; */
    list-style-type: none;
    color: darkblue;
    padding: 5px;
}


/* all ul children with awards class */

ul.awards {
    font-size: 1em;
}

/* direct ul child of awards class */

.awards>li {
    color: red;
    font-size: 1em;
    padding: 0px;
}

.awards sup {
    color: green;
    padding: 0px;
    margin: 0px;
}