* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow: auto; */
}

body {
    background-color: lightblue;
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    color: black;
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: lightskyblue;
}


/* select sub section of section in footer */

footer section {
    background-color: rgb(214, 236, 15);
}

figure {
    padding: 20px 10px 10px 10px;
    margin: 10px;
    /* background-color: whitesmoke; */
    border: 1px darkorchid solid;
    width: 250px;
    text-align: center;
}

.medals {
    width: 390px;
    margin: 10px 0px 10px 40px;
}

section {
    background-color: lightgreen;
    padding: 10px;
}

div section {
    border: 5px lightsalmon solid;
    margin: 5px;
}

img {
    padding: 5px;
    margin: 0px;
    vertical-align: middle;
    text-align: center;
}

#shellback>img {
    padding: 10px 20px 10px 15px;
    vertical-align: middle;
}

/* Certs Section */

.MCP::after, .MCSA::after {
    content: "";
    clear: both;
    display: table;
}

.mcp-certificate, .mcsa-certificate {
    float: left;
    width: 33.33%
    padding: 5px;
}


/* Select the Eduction, Employment and Hobbies ID */

#Education,
#Employment,
#Hobbies {
    border: 5px darkmagenta dashed;
    margin: 10px;
    padding: 10px;
}


/* Select the awards class */

.awards {
    /* background-color: green; */
    list-style-type: none;
    color: darkblue;
    padding: 5px;
}


/* all ul children with awards class */

ul.awards {
    font-size: 1em;
}


/* direct ul child of awards class */

.awards>li {
    font-size: 1em;
    padding: 0px;
    background-color: white;
}

.awards>li:nth-child(odd) {
    background-color: goldenrod;
}

.awards sup {
    color: green;
    padding: 0px;
    margin: 0px;
}



/* adjacent sibling selector = selector + selector 
 General sibling selector = selector ~ selector */


/* pseudo class selectors */

footer li {
    list-style: none;
}

footer a:link,
a:visited {
    text-decoration: none;
    background-color: green;
    border: 1px solid blue;
    color: black;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 1px;
}

footer a:hover,
a:active {
    background-color: red;
    color: purple;
}

footer li:nth-child(3) {
    font-size: 1em;
}

